{% extends 'base.html' %}
{% load static %}
{% load products_tags %}
{% block title %} {{ title|title }} - {{ block.super }} {% endblock %}
{% block content %}

<section id="advertisement">
    <div class="container">
        <img src="{% static 'images/shop/advertisement.jpg' %}" alt="" />
    </div>
</section>

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            {% include 'includes/cart_data.html' %}
        </div>
    </div>
</section> <!--/#cart_items-->

{% endblock %}
